################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteMapGeneratorTool/SiteMapGeneratorTool/obj/Debug/netcoreapp3.1
/SiteMapGeneratorTool/SiteMapGeneratorTool/bin/Debug/netcoreapp3.1
