################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/SiteMapGeneratorTool/SiteMapGeneratorTool/LocalS3Files/e50b3c82-bd2b-420d-b85a-d4b36f7d8433
