################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/appsettings*
/SiteMapGeneratorTool/SiteMapGeneratorTool/bin
/SiteMapGeneratorTool/SiteMapGeneratorTool/obj
/SiteMapGeneratorTool/SiteMapGeneratorToolTests/bin
/SiteMapGeneratorTool/SiteMapGeneratorToolTests/obj
/SiteMapGeneratorTool/SiteMapGeneratorTool/Properties/PublishProfiles
/SiteMapGeneratorTool/SiteMapGeneratorTool/Properties/ServiceDependencies/Tadataka - Web Deploy/profile.arm.json
/SiteMapGeneratorTool/SiteMapGeneratorTool/wwwroot/screenshots
