@{
    ViewData["Title"] = "Generate Response";
}

<div class="container">
    <div class="loader">Generating site map...</div>
</div>

@section Scripts{
    <script>
        var guid = "@ViewBag.Message"
    </script>
    <script>
        $(function () {
            const $loader = $(".loader")

            function getData() {
                $.ajax({
                    url: "/ajax/generate",
                    data: {
                        guid: guid
                    },
                    success: function (data, _, jQXHR) {
                        if (jQXHR.status === 202)
                            setTimeout(getData, 1000)
                        else if (jQXHR.status === 200) {
                            $loader.html(`
                                        <h1>Request complete for ${data.information.domain}</h1>
                                        <p>${data.information.pages} pages found in ${data.information.elapsed} seconds.</p>
                                        <a href="../api/webcrawler/response/information?guid=${data.guid}">information.json</a>
                                        <br />
                                        <a href="../api/webcrawler/response/sitemap?guid=${data.guid}">sitemap.xml</a>
                                        <br />
                                        <a href="../api/webcrawler/response/graph?guid=${data.guid}">graph.dgml</a>
                                            `)
                            console.log(data)
                        }
                        else
                            $loader.text("Server Error (Success)")
                    },
                    error: function (jQXHR) {
                        if (jQXHR.status === 422)
                            $loader.html(`<h1>Invalid GUID.</h1>`)
                        else
                            $loader.text("Server Error (Error)")
                    }
                })
            }
            getData()
        })
    </script>
}