@{
    ViewData["Title"] = "Results";
}

<div class="container">
    <div class="loader">
        <h2>Loading...</h2>
    </div>
</div>

@section Scripts{
    <script>
        var guid = "@ViewBag.Message"
    </script>
    <script>
        $(function () {
            const $loader = $(".loader")

            function getData() {
                $.ajax({
                    url: "/ajax/results",
                    data: {
                        guid: guid
                    },
                    success: function (data, _, jQXHR) {
                        if (jQXHR.status === 202) {
                            $loader.html(`
                                            <h2 id="generatingMessage">Generating site map...</h2>
                                            <p id="generatingInformation">@ViewBag.Fact</p>
                                        `)
                            setTimeout(getData, 1000)
                        }
                        else if (jQXHR.status === 200) {

                            var maxPages = data.maxPages, depth = data.depth
                            if (maxPages === 0)
                                maxPages = "unlimited"
                            if (depth === 0)
                                depth = "unlimited"

                            $loader.html(`
                                            <h1 id="completeMessage">Request complete for ${data.domain}</h1>
                                            <p id="completeInformation">${data.pages} pages found in ${data.elapsed} seconds (${maxPages} page limit and ${depth} depth limit).</p>
                                            <a id="structureLink" href="results/structure?guid=${data.guid}" />Structure</a>
                                            <br />
                                            <a id="sitemapLink" href="results/sitemap?guid=${data.guid}" />Sitemap</a>
                                            <br />
                                            <a id="graphLink" href="results/graph?guid=${data.guid}" />Graph</a>
                                        `)
                        }
                        else
                            $loader.text("Server Error (Success)")
                    },
                    error: function (jQXHR) {
                        if (jQXHR.status === 404)
                            $loader.html(`
                                            <h2 id="invalidMessage">Invalid Guid</h2>
                                            <p id="InvalidInformation">No request was found for this GUID.</p>
                                        `)
                        if (jQXHR.status === 500)
                            $loader.html(`
                                            <h2 id="invalidMessage">Internal Server Error</h2>
                                            <p id="InvalidInformation">${jQXHR.responseText}</p>
                                        `)
                        else
                            $loader.text("Server Error (Error)")
                    }
                })
            }
            getData()
        })
    </script>
}