@{
    ViewData["Title"] = "Generate Response";
}

<div class="container">
    <div class="loader">
        <h2>Loading...</h2>
    </div>
</div>

@section Scripts{
    <script>
        var guid = "@ViewBag.Message"
    </script>
    <script>
        $(function () {
            const $loader = $(".loader")

            function getData() {
                $.ajax({
                    url: "/ajax/results",
                    data: {
                        guid: guid
                    },
                    success: function (data, _, jQXHR) {
                        if (jQXHR.status === 202) {
                            $loader.html(`
                                            <h2>Generating site map...</h2>
                                            <p>@ViewBag.Fact</p>
                                        `)
                            setTimeout(getData, 1000)
                        }
                        else if (jQXHR.status === 200) {
                            $loader.html(`
                                            <h1>Request complete for ${data.domain}</h1>
                                            <p>${data.pages} pages found in ${data.elapsed} seconds.</p>
                                            <a href="results/structure?guid=${data.guid}" />Structure</a>
                                            <br />
                                            <a href="results/sitemap?guid=${data.guid}" />Sitemap</a>
                                            <br />
                                            <a href="results/graph?guid=${data.guid}" />Graph</a>
                                        `)
                        }
                        else
                            $loader.text("Server Error (Success)")
                    },
                    error: function (jQXHR) {
                        if (jQXHR.status === 404)
                            $loader.html(`
                                            <h2>Invalid Guid</h2>
                                            <p>No request was found for this GUID.</p>
                                        `)
                        else
                            $loader.text("Server Error (Error)")
                    }
                })
            }
            getData()
        })
    </script>
}