@{
    ViewData["Title"] = "About";
}

<h1 id="aboutTitle">About</h1>
<p id="aboutInformation">PLACEHOLDER</p>

<h2 id="helpTitle">Help</h2>
<div id="helpBody">
    <p>See the section below for explanations for each of the arguments for making a generation request.</p>

    <h5>Website URL</h5>
    <p>The website URL is the URL of the webpage to perform the search on.</p>

    <h5>Email Address</h5>
    <p>Enter an email address to be notified when the request has been completed (this can be left blank).</p>

    <h5>Maximum Subdirectory Level</h5>
    <p>The maximum subdirectory level to explore on the search domain. For example, a maximum subdirectory level of 2 would find entries at "example/example" but not at "example/example/example". The furthest left point is unlimited.</p>

    <h5>Maximum Number of Pages</h5>
    <p>The maximum number of pages to explore on the search domain. The furthest left point is unlimited.</p>

    <h5>Include Files</h5>
    <p>If selected, files outside of standard webpage files are included in the search, for example documents and images.</p>

    <h5>Respect Robots</h5>
    <p>If selected, and if it exists, the rules laid out in the "robots.txt" folder will be respected.</p>

</div>

<h2 id="configurationTitle">Configuration</h2>
<table id="configurationTable" class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, string> pair in ViewBag.Message)
        {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value</td>
            </tr>
        }
        <tr>
            <td>Processor Count</td>
            <td>@Environment.ProcessorCount</td>
        </tr>
    </tbody>
</table>