@{
    ViewData["Title"] = "About";
}

@section MetaTags
{ 
    <meta name="description" content="About Page" />
}

<h1 id="aboutTitle">About</h1>
<h2 id="backgroundTitle">Background</h2>
<p>Tadataka was developed as a final year project for my Computer Science BSc at the University of Leeds. This site is free to use and does not contain any adverts. For additional information, please see the <a  asp-area="" asp-controller="privacy" asp-action="index">privacy policy</a>.</p>
<p>Site maps can be used to aid in the navigation of a website, exploration of a website hierarchy, or increasing the quantity and quality of traffic through a website. The motivation for this project is to allow users to obtain site maps and other relevant information in a way that is intuitive, fast, free to use, and provides a better service than the existing alternative solutions.</p>
<p>Another key motivation for the project is the development of my own skills and knowledge. The breadth of scope for this project will allow me to improve my programming skills and expand my knowledge in fields such as graph algorithms, web-crawling, and site map protocols.</p>

<p>Favicon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>

<h2 id="helpTitle">Help</h2>
<div id="helpBody">
    <p>See the section below for explanations for each of the arguments for making a generation request.</p>

    <h5>Website URL</h5>
    <p>The website URL is the URL of the webpage to perform the search on.</p>

    <h5>Email Address</h5>
    <p>Enter an email address to be notified when the request has been completed (this can be left blank).</p>

    <h5>Maximum Subdirectory Level</h5>
    <p>The maximum subdirectory level to explore on the search domain. For example, a maximum subdirectory level of 2 would find entries at "example/example" but not at "example/example/example". The furthest left point is unlimited.</p>

    <h5>Maximum Number of Pages</h5>
    <p>The maximum number of pages to explore on the search domain. The furthest left point is unlimited.</p>

    <h5>Include Files</h5>
    <p>If selected, files outside of standard webpage files are included in the search, for example documents and images.</p>

    <h5>Respect Robots</h5>
    <p>If selected, and if it exists, the rules laid out in the "robots.txt" folder will be respected.</p>

</div>