@{
    ViewData["Title"] = "Generate";
}

<div class="text-center">
    <h1 class="display-4">Generate</h1>
    <p><a href="api/webcrawler?url=http://www.sitemaps.org&files=false&robots=true">Basic Crawl</a> (No Files, Respecting Robots)</p>
    <p><a href="api/webcrawler/graph?url=http://www.sitemaps.org&files=false&robots=true">Generate Graph</a> (No Files, Respecting Robots)</p>
    <p><a href="api/webcrawler/sitemap?url=http://www.sitemaps.org&files=false&robots=true">Generate Sitemap</a> (No Files, Respecting Robots)</p>
    <p><a href="api/webcrawler/sitemap/download?url=http://www.sitemaps.org&files=false&robots=true">Download Sitemap File</a> (No Files, Respecting Robots)</p>
</div>