@{
    ViewData["Title"] = "Generate";
}

<div class="text-center">
    <h2 class="display-4">Request</h2>
    <form method="get" action="api/webcrawler/request">
        URL : <input type="url" name="url" /><br />
        Email : <input type="email" name="email" /><br />
        Files : <input type="checkbox" name="files" value="true" /><br />
        <input type="hidden" name="files" value="false" />
        Robots : <input type="checkbox" name="robots" value="true" /><br />
        <input type="hidden" name="robots" value="false" />
        <input type="submit" value="Submit" />
    </form>
</div>
