<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tadataka.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ab55954d-a310-4d02-a3bd-211ec02b4290/resourceGroups/SiteMapGeneratorToolResourceGroup/providers/Microsoft.Web/sites/tadataka</ResourceId>
    <UserName>$tadataka</UserName>
    <_SavePWD>True</_SavePWD>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>SiteMapGeneratorToolTests</WebJobName>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tadataka.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <DeployIisAppPath>tadataka</DeployIisAppPath>
  </PropertyGroup>
</Project>