@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<p>Sort By (Date)<br /> <a href="?order=ascending">Ascending</a> | <a href="?order=descending">Descending</a></p>

<table class="table">
    <tr>
        <th>Domain</th>
        <th>Pages</th>
        <th>Elapsed</th>
        <th>Completed</th>
    </tr>
    @foreach (var entry in ViewBag.Message.Entries)
    {
        <tr>
            <td><a href="https://@ViewBag.Message.Domain/results?guid=@entry.Guid">@entry.Information.Domain</a>
            <td>@entry.Information.Pages</td>
            <td>@entry.Information.Elapsed</td>
            <td>@entry.Information.Completion</td>
        </tr>
    }
</table>