@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>Enter information below to generate a sitemap:</p>
    <form method="get" action="api/webcrawler">
        URL : <input type="url" name="url" /><br />
        Email : <input type="email" name="email" /><br />
        Files : <input type="checkbox" name="files" value="true" /><br />
        <input type="hidden" name="files" value="false" />
        Robots : <input type="checkbox" name="robots" value="true" /><br />
        <input type="hidden" name="robots" value="false" />
        <input type="submit" value="Submit" />
    </form>
</div>
