@{
    ViewData["Title"] = "Debug";
}

<h2 id="configurationTitle">Configuration</h2>
<table id="configurationTable" class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KeyValuePair<string, string> pair in ViewBag.Message)
        {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value</td>
            </tr>
        }
        <tr>
            <td>Processor Count</td>
            <td>@Environment.ProcessorCount</td>
        </tr>
    </tbody>
</table>